body {
	font-family: Lato;
	color: rgb(13, 137, 171);
}

.navbar-custom {
	background-color: rgb(215, 238, 255);
}

#content {
	padding-top: 10%;
}

form {
	padding-top: 3%;
	padding-left: 8%;
	padding-right: 5%;
	padding-bottom: 1%;
}